{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Category list</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td><strong>Description</strong></td>
                                <td><strong>Actions</strong></td>
                            </tr>
                            {% for entity in entities %}
                            <tr>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.description }}</td>
                                <td>
                                <a class="btn btn-xs btn-success" href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
                                <a class="btn btn-xs btn-info" href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <a class="btn btn-primary" href="{{ path('category_new') }}">
        New Category
    </a>
    
        <br><br>
        <p> delete after this in index.html.twig in category folder </p>
            <div class="container">
                
                <div class="row">
                    <div class="col-md-6">
                        <h3>My collection</h3>
                    </div>
                    <div class="col-md-6">
                        <!--
                        {#
                        <h3>Page {{cur}} of {{total}}</h3>
                        #}
                        -->
                    </div>
                    <div class="col-md-4">
                        <!--
                        <form class="form-inline" method="post" action="#" name="searchform" id="searchform">
                            <div class="form-group">
                                <input type="text"  class="form-control" required="required" placeholder="Search the beginning of a book title" name="key" id="key" value="{# {{key}} #}"/>
                                <input type="hidden" name="cur" id="cur" value="{# {{cur}} #}"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>

                        </form>
                        -->
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td><strong>ID</strong></td>
                                        <td><strong>Title</strong></td>
                                        <td><strong>Author</strong></td>
                                        <td><strong>Purchase Date</strong></td>
                                        <td><strong>Location</strong></td>
                                    </tr>
                                    <!--
                                    {#
                                    {% for book in res %}
                                        {% set author=book.author%}
                                        {%if author ==''%}
                                            {%set author='(anonymous)'%}
                                        {%endif%}
                                        <tr>
                                            <td><a href="{{path('book_detail', {'id':book.id})}}">{{book.id}}</a></td>
                                            <td><a href="{{path('book_detail', {'id':book.id})}}">{{book.title}}</a></td>
                                            <td>{{author}}</td>
                                            <td>{{book.purchdate|date('Y-m-d')}}</td>
                                            <td>{{book.location}}</td>
                                        </tr>
                                    {% endfor %}
                                    #}
                                    -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pager">
                                <!--
                                {#
                                <ul>
                                    <li class="previous"><a href="{{path('book_list', {'page':1, 'key':key})}}">First</a></li>
                                        {%if cur==1%}
                                        <li class="previous disabled"><a href="{{path('book_list', {'page':cur-1, 'key':key})}}">Previous</a></li>
                                        {%else%}
                                        <li class="previous"><a href="{{path('book_list', {'page':cur-1, 'key':key})}}">Previous</a></li>
                                        {%endif%}
                                        {%if cur==total%}
                                        <li class="previous disabled"><a href="{{path('book_list', {'page':cur, 'key':key})}}">Next</a></li>
                                        {%else%}
                                        <li class="previous"><a href="{{path('book_list', {'page':cur+1, 'key': key})}}">Next</a></li>
                                        {%endif%}
                                    <li class="previous"><a href="{{path('book_list', {'page':total, 'key':key})}}">Last</a></li>
                                </ul>
                                #}
                                -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

    {% endblock %}
