{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <style type="text/css">
    body { /* font-size: 62.5%; */ }
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    </style>
{% endblock %}    

{% block body -%}
    <div class="container">
        
        <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search" action="{{path('category_search')}}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="cat" id="cat">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h3>Category list</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td><strong>Description</strong></td>
                                <td><strong>Actions</strong></td>
                            </tr>
                            {% for entity in entities %}
                            <tr>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.description }}</td>
                                <td>
                                <a class="btn btn-xs btn-success" href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
                                <a class="btn btn-xs btn-info" href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <a class="btn btn-primary" href="{{ path('category_new') }}">
        New Category
    </a>
    
    <a class="btn btn-primary" id="add-new-cat">
        New Category via AJAX
    </a>
        
    <div class="row">
        {# for pagination #}
        <div class="span4">
            {%if total_pages > 0%}
                    <ul class="pagination">
                        {%for i in 1..total_pages%}
                            {%if loop.first %}
                                <li class="prev {%if current_page==1%} disabled{%endif%}"><a href="{{path('category',{'page':current_page-1})}}">← Previous</a></li>
                            {%endif%}
                            
                            <li {%if current_page==loop.index%} class="active"{%endif%}><a href="{{path('category',{'page':loop.index})}}">{{loop.index}}</a></li> 

                            {%if loop.last %}
                                <li class="next{%if current_page==total_pages%} disabled {%endif%}"><a href="{{path('category',{'page':current_page+1})}}">Next → </a></li>
                                {%endif%}
                            {%endfor%}
                    </ul>
            {%endif%}
        </div>
    </div>
        
        
        
    <div id="dialog-form" title="Create new user">
        <p class="validateTips">All form fields are required.</p>

        <form>
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="cname" id="cname" class="text ui-widget-content ui-corner-all">
                <label for="description">Description</label>
                <input type="text" name="cdescription" id="cdescription" class="text ui-widget-content ui-corner-all">
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
        
        
    <div id="users-contain" class="ui-widget">
        <h1>Existing Users:</h1>
        <table id="users" class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header ">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>john.doe@example.com</td>
                    <td>johndoe1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button id="create-user">Create new user</button>
            
{% endblock %}


{% block javascripts %}
        {{ parent() }}
                {% javascripts
                    '@AlphaAlphaBundle/Resources/public/js/custom.js'
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
                
                {% endjavascripts %}
{% endblock %}