{% extends '::base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body -%}
    <h1>Add New Category</h1>
{#
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
</ul>
 #}       
        
        
<div class="container" >
    <form action="{{ path('category_create')}}" method="post" {{ form_enctype(form) }} class="form-signin">
        {#
        {{ form_row( form.name ) }}
        <br>
        {{ form_row( form.description ) }}
        #}
        
        {{ form_widget(form) }}
    </form>
</div>
{% endblock %}
